<div id="<%= dom_id recipe %>">
  <p>
    <strong>Name:</strong>
    <%= recipe.name %>
  </p>

  <p>
    <strong>Note:</strong>
    <%= recipe.note %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= recipe.author_id %>
  </p>

</div>
